
<section id="vision" class="wrapper default">
	<div class="inner">
		<header class="major">
			<h2>Vision</h2>
			<blockquote>"Allt bröd som produceras här i Höje skall vara av yppersta kvalité när det gäller smak, råvaror och innehåll. Det skall tillverkas hantverksmässigt och utan konstgjorda tillsatser"</blockquote>
			<p>Så lyder bagare Lars Gustavssons vision och idé som var vägledande för honom när han startade Höje Vedugnsbageri. När Lars pratar bröd av yppersta kvalité betyder det att alla råvaror är ekologiska, helst lokalt producerade och ....att brödet bakas på surdegskultur.</p>

			<p>Lars är född och uppväxt i Klarälvdalen men utbildade sig till kock och flyttade runt ett tag som sådan innan han återvände till hembygden med en idé om ett riktigt bageri. Efter ett par års förberedelse kunde han 2006 slå upp portarna till Höje Vedugnsbageri vars kundkrets stadigt ökar och som gjort sig känt i hela Värmland för sitt goda bröd.</p>

			<p>Idag driver Lars bageriet ihop med sin sambo Ann Britt som också är morgonpigg!</p>
		</header>
	</div>
</section>

<section id="owen" class="wrapper default">
	<div class="inner">
		<header class="major">
			<div class="image">{% if page.image %}<img src="{% if site.featured-image-source %}{{ page.image | prepend: site.featured-image-source | absolute_url }}{% else %}{{ "" | absolute_url }}/assets/images/{{ page.image }}{% endif %}" alt="" />{% endif %}</div>
			<div class="content">
				<h2><a href="{{ page.url | relative_url }}" class="link">{{ page.title }}</a></h2>
				<p>{{ page.description }}</p>
			</div>
			<h2>Bageriets hjärta</h2>
			<img src="{{ "" | absolute_url }}/assets/images/owen.jpg">
			<p>Hjärtat i bageriet är den stora vedeldade stenugnen. Den är konstruerad och byggd av John Fischer som gjort sig känd som en skicklig arkitekt för just den här typen av ugnar.</p>

			<p>Att grädda bröd på stenhäll är urgammalt hantverk som ger brödet dess speciella karaktär och smak.</p>

			<p>Lars har valt att värma upp ugnen med vedeldning vilket är både ekonomiskt och ekologiskt fördelaktigt. "Dels är jag inte beroende av el eller olja, dels är vedeldning att föredra i ett uthållighetspersperktiv" säger Lars.</p>
		</header>
	</div>
</section>
