<!-- Banner -->
<section id="banner" class="wrapper">
	<div class="inner">
		<h2>Höje vedugnsbageri</h2>
		<p><strong>Öppettider: </strong>{{site.hours}}</p>
		<p>Vi finns vid väg 62 i Höje 8 km norr om Munkfors (<a href= "http://gulasidorna.eniro.se/f/höje+vedugnsbageri+ab:14298119">se karta på Eniro</a>).</p>
		<p>Gustafsons Livs låg förr i dessa lokaler och neonskylten finns fortfarande kvar på det gulrappade huset. Likaså finns en skylt vid vägen "Bageri" där ni svänger in på innergården.</p>
	</div>
	<a href="#vision" class="more scrolly">Läs mer om oss!</a>
</section>
