<!-- Banner -->
<section id="banner" class="wrapper">
	<div class="inner">
		<h2>Höje vedugnsbageri</h2>
		<p><strong>Bröd från hjärtat av Värmland.</strong> I vårt bageri förenar vi vår kärlek till det ursprungliga hantverket med en önskan om en levande landsbygd. Vårt surdegsbröd bakas på närproducerade ekologiska grödor i en vedeldad ugn. Du är varmt välkommen hit till vår butik.</p>
		<p><strong>Öppettider: </strong>{{site.hours}}</p>
		<p><a href="https://goo.gl/maps/rDG5UAZ3bDL2" target="_blank">Hitta hit!</a></p>
	</div>
	<a href="#more" class="more scrolly">LÄS MER OM OSS!</a>
</section>
