<section id="more" class="wrapper alt">

	{% for section in site.sections %}

	<section class="spotlight">
		<div class="image">{% if section.image %}<img src="{% if site.featured-image-source %}{{ section.image | prepend: site.featured-image-source | relative_url }}{% else %}{{ "" | relative_url }}/assets/images/{{ section.image }}{% endif %}" alt="" />{% endif %}</div>
		<div class="content">
			{% if section.page_title %}
				<h2>{{ section.page_title }}</h2>
			{% endif %}
			<p>{{ section.description }}</p>
			<p>{{ section.content }}</p>
		</div>
	</section>

	{% endfor %}

</section>
