<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="language" content="sv" />
	<meta name="type" content="Text.Homepage.Organizational" />
	<meta name="keywords" content="surdegsbröd, bageri, surdeg, vedugn, bröd, vedugnsbakat, ekologiskt, Höje, Lars Gustavsson, Värmland" />
	<meta name="description" content="Här hittar du ekologiskt surdegsbröd bakat i vedugn. Bageriet med butik finns 8 km norr om Munkfors vid väg 62." />
	<meta name="creator" content="Höje vedugnsbageri" />
	<!--[if lte IE 8]><script src="{{ "/assets/js/ie/html5shiv.js" | absolute_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}" />
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "/assets/css/ie8.css" | absolute_url }}" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "/assets/css/ie9.css" | absolute_url }}" /><![endif]-->
	<link rel="stylesheet" href="{{ "/assets/css/bageriet.css" | absolute_url }}" />
</head>